{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{{ asset('css/users/login.css') }}">
{% endblock %}
{% block body %}
	<main>
		<article class="signin-card hide">
			<h3 class=" hide-2">Connexion</h3>
			<form method="post" action="{{ path('app_login_check') }}" class=" hide-2">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<div class="form-group hide-2">
					<label for="username">Nom Utilisateur</label>
					<input type="text" id="username" name="_username" value="{{ last_username }}">
				</div>
				<div class="form-group hide-2">
					<label for="password">Mot de passe</label>
					<input type="password" id="pwd" name="_password">
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button type="submit hide-3">Se connecter</button>
			</form>
		</article>
	</main>
{% endblock %}
