{% extends 'base.html.twig' %}
{% block head %}
	<link rel="stylesheet" href="{{ asset('./css/admin/admin-forms.css') }}">
{% endblock %}

{% block body %}
	<main>
		<article class='admin-form-card'>
			<h3>Ajouter une nouvelle critique
			</h3>
			<section class="admin-form">
				{{ form_start(form) }}
				<section class="form-head">
					<div class="form-group">
						{{ form_label(form.name) }}
						{{ form_widget(form.name) }}
					</div>
					<div class="form-group">
						{{ form_label(form.description) }}
						{{ form_widget(form.description, {'attr': {'style': 'width: 50%; height:100px; margin-left: 5%;'}}) }}
					</div>
					<div class="form-group">
						{{ form_label(form.advice) }}
						{{ form_widget(form.advice, {'attr': {'style': 'width: 50%; height:100px; margin-left: 5%;'}}) }}
					</div>
					<div class="form-group">
						{{ form_label(form.grade) }}
						{{ form_widget(form.grade, {'attr': {'style': 'width: auto; margin-left: 5%;'}}) }}
					</div>
				</section>
				<section class="form-content">
					<div class="form-group">
						{{ form_label(form.imgBox) }}
						{{ form_widget(form.imgBox) }}
					</div>
					<div class="form-group">
						{{ form_label(form.imgTheme) }}
						{{ form_widget(form.imgTheme) }}
					</div>
					<div class="form-group">
						{{ form_label(form.releaseDate) }}
						{{ form_widget(form.releaseDate, {'attr': {'style': 'width: auto;'}}) }}
					</div>
					<div class="form-group">
						{{ form_label(form.disponibility) }}
						{{ form_widget(form.disponibility, {'attr': {'style': 'width: auto; height: 20px; width: 20px; margin-top: 7px;'}}) }}
					</div>
					{% if form.disponibility %}
					<div class="form-group">
						{{ form_label(form.link) }}
						{{ form_widget(form.link) }}
					</div>
					{% endif %}
					<div class="form-group">
						{{ form_label(form.averagePrice) }}
						{{ form_widget(form.averagePrice) }}
					</div>

				</section>
				<section class="form-footer">
					<div class="form-group platform">
						{{ form_label(form.platform) }}
						{{ form_widget(form.platform) }}
					</div>
					<div class="form-group">
						{{ form_label(form.genders, 'Genres :', {'attr': {'class': 'genders-label'}}) }}
						<div class="genders-checkbox-list">
							{% for gender in form.genders %}
								<div class="gender-checkbox">
									{{ form_widget(gender, {'attr': {'class': 'gender-checkbox-input'}}) }}
									{{ form_label(gender, null, {'label_attr': {'class': 'gender-checkbox-label' }}) }}
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
				<button type="submit">Envoyer</button>
				{{ form_end(form)}}
				<section></article>
			</main>
		{% endblock %}
