{% extends 'base.html.twig' %}

{% block title %}VideoGame index{% endblock %}

{% block body %}
    <h1>VideoGame index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Advice</th>
                <th>ImgBox</th>
                <th>ImgTheme</th>
                <th>Grade</th>
                <th>ReleaseDate</th>
                <th>Disponibility</th>
                <th>AveragePrice</th>
                <th>Link</th>
                <th>AverageUsersGrade</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video_game in video_games %}
            <tr>
                <td>{{ video_game.id }}</td>
                <td>{{ video_game.name }}</td>
                <td>{{ video_game.description }}</td>
                <td>{{ video_game.advice }}</td>
                <td>{{ video_game.imgBox }}</td>
                <td>{{ video_game.imgTheme }}</td>
                <td>{{ video_game.grade }}</td>
                <td>{{ video_game.releaseDate ? video_game.releaseDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video_game.disponibility ? 'Yes' : 'No' }}</td>
                <td>{{ video_game.averagePrice }}</td>
                <td>{{ video_game.link }}</td>
                <td>{{ video_game.averageUsersGrade }}</td>
                <td>
                    <a href="{{ path('app_video_game_show', {'id': video_game.id}) }}">show</a>
                    <a href="{{ path('app_video_game_edit', {'id': video_game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_video_game_new') }}">Create new</a>
{% endblock %}
