<h3>Donnez votre avis</h3>
<form class="hide-2" method="post">
{{ form_start(form) }}
    <div class="form-group hide-2">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    <div class="form-group hide-2">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
    </div>
    <div class="form-group hide-2">
        {{ form_label(form.grade) }}
        {{ form_widget(form.grade) }}
    </div>
    <button type="submit" class="btn hide-3">{{ button_label|default("Envoyer") }}</button>
{{ form_end(form) }}
</form>