{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ asset('./css/profiles/public-profile.css') }}">
{% endblock %}

{% block body %}
	<main>
		{% if(nbRandomComments is defined and nbRandomComments == 2) %}
			<article class="profile-public profile-public-with-comments hide">
			{% elseif(nbRandomComments is defined and nbRandomComments == 1) %}
				<article class="profile-public profile-public-with-comment hide">
				{% else %}
					<article class="profile-public hide">
					{% endif %}
					<section class="profile-public-head hide-2">
						<div class="profile-public-avatar hide-2">
							{% if user.avatarNewFileName != null %}
								<img src="{{ vich_uploader_asset(user, 'avatarFile') }}" alt="{{ user.username }}" class="avatar hide-2">
							{% endif %}
						</div>
						<div class="profile-public-info hide-2">
							<h3>{{ user.username }}</h3>
							<h4>{{ user.surname }}
								{{ user.firstName }}</h4>
							<h5>
								Email:
								<a href="mailto:{{ user.email }}">{{ user.email }}</a>
								{% if(user.id > 1) %}
									<span class="hidden-text">* ces adresses mail sont fictives</span>
								{% endif %}
							</h5>
						</div>
					</section>
					<section class="profile-public-presentation-bloc hide-3">
						<div class="profile-public-presentation hide-3">
							<h4>Présentation</h4>
							<h6>
								<span>Genre :
								</soan>
								{{ user.gender }}</h6>
							<p>{{ user.presentation }}</p>
						</div>
						<div class="profile-public-stats hide-3">
							<h4 class=" hide-3">Statistiques</h4>
							<div class="profile-public-stats-zone hide-3">
								<div class="profile-public-stats-group hide-3">
									<h5>Nb commentaires</h5>
									<h6>{{ user.nbComments }}</h6>
								</div>
								<div class="profile-public-stats-group hide-3">
									<h5>Nb Likes</h5>
									<h6>{{ nbLikes }}</h6>
								</div>
								{% if averageComments is defined %}
									<div class="profile-public-stats-group hide-3">
										<h5>Note moyenne</h5>
										<h6>{{ averageComments }}</h6>
									</div>
								{% endif %}
							</div>
						</div>
					</section>
					{% if(randomComments is defined)  %}
						<section class="profile-public-randomcom hide-3">
							<h3 class="hide-3 comments">Commentaires aléatoires</h3>
							<div class="profile-public-randomcom-list hide-4">
								{% for comment in randomComments %}
									{% include '/comments/comment-profile-public.html.twig' with { 'comment' : comment } %}
								{% endfor %}
							</div>
						</section>
					{% endif %}
				</article>
			</main>
		{% endblock %}
